---
title: Hypothesis Testing with Dependent-Samples *t*-tests
subtitle: PSY 241
format: 
  html:
    html-math-method: mathjax
    code-fold: true
    axe:
      output: console
    self-contained-math: true
    embed-resources: false

---

In [9]:
#| echo: false
import importlib
import stats_project # Replace with your module name

importlib.reload(stats_project)
from stats_project import RandomData # Re-import the specific class

In [10]:
#| echo: false
#| output: asis
from stats_project import RandomData

RandomData(groups = 2, n = 8).dependent_samples_t_test()

Given the following within-subjects data, is $M_D$ significantly different from ${0}$?  Use a ${2}$ tailed-test with $\alpha = {0.01}$<br><br>

<br>Summary statistics for these data:<br>
                             $$M_A = {25.12}, M_B = {33.62}$$
                             $$n = {8}$$ <br><br>

Calculating the difference scores $D = X_B - X_A$ <br>

<br>Calculate the Mean of the Difference Scores
                            $$M_D = \frac{\Sigma D}{n}$$ <br>
                            $$M_D = \frac{68}{8}$$ <br>
                            $$M_D = {8.5}$$ <br><br>

<br>Calculate *SS* of the difference scores <br>
                             $$SS_D = \Sigma D^2 - \frac{(\Sigma D)^2}{n}$$ <br>
                             $$SS_D = {636} - \frac{4624}{8}$$ <br>
                             $$SS_D = {636} - {578.0}$$ <br>
                             $$SS_D = {58.0}$$ <br><br>

Calculate the variance of the difference scores <br>
                             $$s_D^2 = \frac{SS_D}{df}$$ <br>
                             $$s_D^2 = \frac{58.0}{7}$$ <br>
                             $$s_D^2 = {8.29}$$ <br><br>

Calculate the estimated standard error of the difference scores <br>
                             $$s_{M_D} = \sqrt{\frac{s^2}{n}}$$ <br>
                             $$s_{M_D} = \sqrt{\frac{8.29}{8}}$$ <br>
                             $$s_{M_D} = \sqrt{1.04}$$ <br>
                             $$s_{M_D} = {1.02}$$ <br><br>

Calculate $t_{obt}$ <br>
                             $$t_{obt} = {\frac{M_D - \mu_D}{s_{M_D}}}$$ <br>
                             $$t_{obt} = \frac{8.5 - 0}{1.02}$$ <br>
                             $$t_{obt} = \frac{8.5}{1.02}$$ <br>
                             $$t_{obt} = {8.33}$$ <br><br>

Calculating Cohen's *d* <br>
                             $$d = \frac{M_D}{\sqrt{s^2}}$$ <br>
                             $$d = \frac{8.5}{{{\sqrt{8.29}}}}$$ <br>
                             $$d = \frac{8.5}{2.88}$$ <br>
                             $$d = {2.95}$$ <br><br>

The decision criteria: <br><br>

$t_{crit} = \pm{3.5}, \alpha_{two-tailed} = {0.01}, df = {7}$<br><br>

The results: <br><br>

reject the null hypothesis, results are significant, *t*(7) = 8.33, *p* < 0.01, *d* = 2.95<br><br>